@model MVCUI.Models.TournamentMVCDetailsModel

@{
    ViewBag.Title = "Details";
}

<script src="~/Scripts/Tournaments/TournamentDetails.js" type="text/javascript"></script>

<h2>Tournament: @Html.DisplayFor(model => model.TournamentName) </h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <h2>@Html.DisplayNameFor(model => model.Rounds)</h2>
            <ul class="list-unstyled rounds-display">
                @foreach (var round in Model.Rounds)
                {
                    <li>
                        @Html.ActionLink(round.RoundName, "Details", "Tournaments", new { roundId = round.RoundNumber }, new { })
                        &nbsp;
                        @if (round.Status == RoundStatus.Complete)
                        {
                            <span class="label label-default">completed</span>
                        }
                        else if (round.Status == RoundStatus.Active)
                        {
                            <span class="label label-success">active</span>
                        }
                        else if (round.Status == RoundStatus.Locked)
                        {
                            <span class="label label-danger">locked</span>
                        }
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row">
                @foreach (var item in Model.Matchups)
                {
                    <div class="col-md-6">
                        @Html.Partial("_EditMatchup", item)
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
